$bg: #E0DFDD;


@font-face {
    font-family: Karantina;
    src: url(../../assets/fonts/Karantina-Regular.ttf);
}

@font-face {
    font-family: RobotoCondensed-Regular;
    src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
}